*{
    margin: 0;
    padding: 0;
}
#messageBox{
    font-family: "Andale Mono", monospace;
}
header{
    padding: 20px;
    min-width: 100%;
    text-align: center;
    background-color: #30303050;
    margin-bottom: 20px;
}
body{
    min-width: 100%;
}
.flex {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}
.block{
    margin: 0 2%;
    min-height: 300px;
}
video {
    margin: 1% 1%;
    max-width: 100%;
    width: 500px;
    background-color: black;
}
button{
    padding: 5px;
    margin: 0 10px;
}